body{
    font-family: 'Special Elite', cursive;
    background: peachpuff;
}

.header_div{
    background:snow;
    color:rgb(48, 121, 143);
}

.header_div p{
    font-family:'Roboto', sans-serif;
    color:rgb(82, 124, 179);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(76, 179, 219);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: snow;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(180, 174, 174)
}